<!-- Start home-about Area -->
<section class="home-about-area">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-end">
        <div class="col-lg-6 col-md-12 home-about-left">
          <h1>
            Did not find your Package? <br>
            Feel free to ask us. <br>
            We'll make it for you
          </h1>
          <p>
            We will customise your chosen package so that you can stay in your favorite hotel and plan your activities in advance. 
          </p>
          <a href="#" class="primary-btn text-uppercase">request custom price</a>
        </div>
        <div class="col-lg-6 col-md-12 home-about-right no-padding">
          <img class="img-fluid" src="assets/IMG_4418.jpg" alt="">
        </div>
      </div>
    </div>	
  </section>
  <!-- End home-about Area -->