<app-skiporbit-hotdeals></app-skiporbit-hotdeals>
<section class="destinations-area section-gap">
  <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="menu-content pb-40 col-lg-8">
              <div class="title text-center">
                  <h1 class="mb-10">Package Details</h1>
              </div>
          </div>
      </div>	
    <div>
      <table>
        <thead>
          <th>Duration</th>
          <th>Itinerary</th>
          <th>Hotel</th>
          <th>2 PAX</th>
          <th>4 PAX</th>
          <th>6 PAX</th>
        </thead>
        <tbody>
          <tr>
            <td>4N/5D</td>
            <td>
              <table>
                <tbody>
                  <tr><td>Srinagar 2nts</td></tr>
                  <tr><td>Gulmarg 1nt</td></tr>
                  <tr> <td>Pahalgam 1nt</td></tr>
                </tbody>
              </table>
            </td>
            <td>
              <table>
                <tbody>
                  <tr><td>2 nights in Dlx houseboat in Dal Lake</td></tr>
                  <tr><td>1 nt in Dlx Hotel in Gulmarg</td></tr>
                  <tr><td>1 nt in Dlx Hotel In Pahalgam</td></tr>
                </tbody>
              </table>
            </td>
            <td>&#8377; 21,000</td>
            <td>&#8377; 34,000</td>
            <td>&#8377; 47,000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br/>
    <div>
        <table>
          <thead>
            <th>Duration</th>
            <th>Itinerary</th>
            <th>Hotel</th>
            <th>2 PAX</th>
            <th>4 PAX</th>
            <th>6 PAX</th>
          </thead>
          <tbody>
            <tr>
              <td>4N/5D</td>
              <td>
                <table>
                  <tbody>
                    <tr><td>Srinagar 2nts</td></tr>
                    <tr><td>Gulmarg 1nt</td></tr>
                    <tr> <td>Pahalgam 1nt</td></tr>
                    <tr><td>Sonmarg 1nt</td></tr>
                  </tbody>
                </table>
              </td>
              <td>
                <table>
                  <tbody>
                    <tr><td>2 nights in Dlx houseboat in Dal Lake</td></tr>
                    <tr><td>1 nt in Dlx Hotel in Gulmarg</td></tr>
                    <tr><td>1 nt in Dlx Hotel In Pahalgam</td></tr>
                    <tr><td>1 nt in Dlx Hotel in Sonmarg</td></tr>
                  </tbody>
                </table>
              </td>
              <td>&#8377; 27,000</td>
              <td>&#8377; 40,000</td>
              <td>&#8377; 53,000</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>  
</section>