<!-- Start additional services -->
<section class="other-issue-area section-gap">
    <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-9">
                    <div class="title text-center">
                        <h1 class="mb-10">Additional services we can help you with</h1>
                        <p>We are here to combine additional activities in your trip to make your visit memorable.</p>
                    </div>
                </div>
            </div>					
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="assets/o1.jpg" alt="">					
            </div>
            <a href="#">
              <h4>Rent a Car</h4>
            </a>
            <p>
              Rent a car of your desired model to make a most outof your trip.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="assets/o2.jpg" alt="">					
            </div>
            <a href="#">
              <h4>Hop in hop off </h4>
            </a>
            <p>
                Airport to hotel transport and local site seeing with guide facilities.

            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="assets/o3.jpg" alt="">					
            </div>
            <a href="#">
              <h4>To Do List</h4>
            </a>
            <p>
              Add activities in your bucket as trecking, camping, sports, etc.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="assets/o4.jpg" alt="">					
            </div>
            <a href="#">
              <h4>Food Features</h4>
            </a>
            <p>
              Enrich your taste buds by adding authentic local food menu as a meals add-on.
            </p>
          </div>
        </div>																		
      </div>
    </div>	
  </section>
  <!-- End additional services -->