<!-- Start deal of the month -->
<section class="popular-destination-area">
  <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
                <h1 class="mb-10">Deal Of The Month</h1>
                <p>A very inexpensive way to travel your favorite destination</p>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-destination relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="assets/d1.jpg" alt="">
          </div>
          <div class="desc">	
            <h4>Nilgiri Mountains</h4>
            <p>Ooty</p>			
            <a href="#" class="price-btn">&#8377; 10000</a>			
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-destination relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="assets/d2.jpg" alt=""> 
          </div>
          <div class="desc">	
            <h4>Nightlife</h4>
            <p>Goa</p>			
            <a href="#" class="price-btn">&#8377; 10000</a>			
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-destination relative">
          <div class="thumb relative">
            <div class="overlay overlay-bg"></div>
            <img class="img-fluid" src="assets/d3.jpg" alt="">
          </div>
          <div class="desc">	
            <h4>Land Of Lord Jagannath</h4>
            <p>Puri</p>			
            <a href="#" class="price-btn">&#8377; 20000</a>			
          </div>
        </div>
      </div>												
    </div>
  </div>	
</section>
<!-- End deal of the month -->